/* Общие стили */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');
html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 250px;
}

/* Раздел "Our Story" */
.story {
  padding: 50px 0;
}
.story_left {
  max-width: 398px;
  margin-right: 50px;
}
.story_title_2 {
  letter-spacing: 0.2em;
  color: #48555B;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  padding: 30px 0;
}
.story_title_2:after {
  content: '';
  width: 50px;
  height: 2px;
  background-color: #00A4E5;
  display: block;
  margin: 10px auto 0;
}
.story_inner {
  display: flex;
  justify-content: center;
}
.story_title_3 {
  color: #48555B;
  font-weight: bold;
  font-size: 20px;
}
.accent-color {
  color: #00A4E5;
}
.story_text {

}
.story_right {
  display: flex;
  align-items: flex-end;
}
.story_item {
  padding: 15px;
  font-size: 24px;
  color: #fff;
  font-weight: 800;
  text-transform: uppercase;
  width: 140px;
  height: 224px;
  margin-right: 20px;
  background-size: cover;
}
.story_item:nth-child(1) {
  background-image: url(../img/we_plan.png);
}
.story_item:nth-child(2) {
  background-image: url(../img/we_manage.png);
}
.story_item:nth-child(3) {
  background-image: url(../img/we_build.png);
  margin-right: 0px;
}

/* Адаптивная версия - медиа запросы */
@media screen and (max-width: 1440px) {
  .container {
    padding: 0 50px;
  }
}
@media screen and (max-width: 1024px) {
  .container {
    padding: 0 15px;
  }
  .story_title_3 {
    text-align: center;
  }
  .story_inner {
    flex-wrap: wrap;
  }
  .story_left {
    max-width: 80%;
    margin-right: 0px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 540px) {
  .story_right {
    flex-wrap: wrap;
    justify-content: center;
  }
  .story_item {
    margin-bottom: 20px;
    margin-right: 0;
    width: 51%;
    height: 350px;
  }
  .story_item:nth-child(3) {
    margin-bottom: 0px;
  }
  .story_left {
    max-width: 100%;
  }
}
@media screen and (max-width: 360px) { 
  .story_item {
    width: 80%;
  }
}